@media (max-width: 740px){
    .s-col-full{
        width: 100%;
    }
   
    #nav > li{
        display: block;
    }
    #nav{
        display: block;
    }
    #nav .subnav{
        position: initial;
    }

    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav a{
        color: white;
        padding: 5px 44px;
        
    }

    #nav li a {
        padding: 1px ;
    }

    #header .search-button-btn{
        display: none;
    }

    #header .menu-mobile{
        display: block;

    }
    #header{
        overflow: hidden;
    }

    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
        
    }
    .contact-form{
        margin-top: 16px;
    }
    .s-mt-16{
        margin-top: 16px !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    .s-full-width{
        width: 100% !important;
    }


}